<settings>

    <setting propertyKey="@Properties.HeartGraphMinutes" title="@Strings.HeartGraphMinutesTitle">
        <settingConfig type="list">
            <listEntry value="3">@Strings.HeartGraphMinutes3</listEntry>
            <listEntry value="5">@Strings.HeartGraphMinutes5</listEntry>
            <listEntry value="10">@Strings.HeartGraphMinutes10</listEntry>
        </settingConfig>
    </setting>

</settings>
